body, table {
	font-size: 9pt;
	text-align: center }

body {
	margin: 0 }

table {
	margin: 0 auto;
	border-collapse: collapse }

a {
	color: black }

td,th {
	padding: 3px;
	border: 1px solid gray }

p { margin: 20px }

abbr { cursor: help }

ul {
	width: 300px;
	margin: auto;
	text-align: left;
	list-style-position: inside }
	
td:first-child {
	text-align: left }

thead, tfoot {
	background-color: silver }